# Common ignored files and directories
.vscode/
*.code-workspace
.idea/

.DS_Store
Thumbs.db

__pycache__/
*$.py.class
eggs/
.eggs/
*.egg-info/

.ipynb_checkpoints
profile_default/
ipython_config.py

.env
.venv
env/
venv/
ENV/

# videos folder for project dataset
videos/

# results of scripts execution
out/
